.open-user__menu {
  animation: openUserMenu 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.close-user__menu {
  animation: closeUserMenu 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes openUserMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
    filter: blur(10px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

@keyframes closeUserMenu {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%) scale(0.8);
    filter: blur(10px);
    display: none;
  }
}
